.App {
  display: flex;
  flex-direction: row;
  background-color:  #282c34;
}
.general {
  background-color: #282C34;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.todoList-newTaskForm{
  margin: 10px;
}
.todoList {
  width: 300px;
  
}

.todoList > div {
  padding: 10px;
}

.todoList-task {
  width: 500px;
  display: flex;
}

.todoList-task.done {
  opacity: 0.5;
}

.filter-active {
  background-color: blue;
}

.error {
  border-color: red;
}
.todolistStyle{
  width: 500px;
  background-color:  #282c34;
  border: 2px solid white;
  margin: 10px;
}
.button {
position: absolute;
left: 300px;
}